/*---

RESET

---*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*---

GENERAL

---*/

body{
    font-family: Arial, Helvetica, sans-serif;
}


/*---

MAIN

---*/


main{
    height: calc(100vh - 80px);
    background-color: rgb(0, 0, 0);
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-camera{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;


}

.col-camera{
    width: calc(100% / 7 - 5px);
    margin: 5px 2.5px;
    background-image: url("https://picsum.photos/200/300");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
}

/*---

FOOTER

---*/




footer{
    height: 80px;
    background-color: #222222;
}

/*---

DEBUG

---*/
/* 
.debug main{
     background-color: rgb(0, 0, 0);
}

.debug footer{
    background-color: #222222;
} */

/* .debug .col-camera{
    background-color: bisque;
    height: 100px;
} */